!!! 5
%html
  %head
    %meta{:charset => "UTF-8"}/
    %meta{:name => "keywords", :content => "tv maua, maua, sp, maua e regiao, grupo maua e regiao, empresas de mauá, ribeirão pires, revista maua, jornal maua, comprar em maua, comprar em rio grande da serra, comprar em ribeirão pires"}/
    %meta{:name => "description", :content => "Esta é a Web TV Mauá e Região. Fique à vontade para assistir os vídeos de nossos patrocinadores e compartilhe."}/
    %meta{:name => "author", :content => "Grupo Mauá e Região de Comunicação"}/
    %link{:rel => "shortcut icon", :href => "imagens/favicon.ico"}/
    %link{:rel => "stylesheet", :href => "css/styles.min.css"}/
    %title TV Mauá e Região &#8212; WebTV: seja o primeiro a ver
  %body
    .website
      .layout
        .chamada-publicidade
          .frase
            %h2 Falta pouco para<br> <i>o lançamento</i><br> da webTV<br> Mauá e Região

          .logotipo

        .formulario
          .tablet

          .o-formulario
            .frase
              %h2 Seja o <i>primeiro</i> a ver

            .mensagem-sucesso
              %p
                Obrigado!<br> Aguarde novidades em seu e-mail.

            %form{:action => "enviar-email.php", :method => "get", :enctype => "multipart/form-data"}
              %label{:for => "nome"} Nome <br>
              %input{:type => "text", :id => "nome"}/
              %br/
              %label{:for => "email"} E-mail <br>
              %input{:type => "text", :id => "email"}/
              %br/
              %input{:type => "button", :id => "enviar", :value => "Enviar"}/

      .vantagens
        .colunas
          .coluna-moderno
            .icone
            .conteudo
              %h3 Moderno
              %p Todo feito em HTML 5: a<br> última palavra em<br> tecnologia e velocidade

          .coluna-bem-pensado
            .icone
            .conteudo
              %h3 Bem pensado
              %p Todo conteúdo é<br> postado diretamente<br> em nosso servidor

          .coluna-rapido
            .icone
            .conteudo
              %h3 Rápido
              %p Páginas leves, vídeos<br> curtos, buscas com<br> ultra velocidade

      .rodape
        .elementos
          .site
            %p
              Visite 
              %a{:title => "Visite o nosso portal!", :href => "http://portalmauaeregiao.com.br", :target => "_blank"} www.portalmauaeregiao.com.br

          .copyright
            .texto
              %p &copy; 2013 <i>Grupo Mauá e Região, todos os direitos reservados.</i>
          
          %a{:href => "http://grupomauaeregiao.com.br", :target => "_blank"}
            .logotipo

    %script{:src => "http://cdnjs.cloudflare.com/ajax/libs/gsap/1.10.3/TweenMax.min.js"}
    %script{:src => "js/scripts.min.js"}